<div class="row margin-0">
    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12 center-admin-form" id="display_advance" style="min-height: 500px;">
        <div *ngIf="!pkgsub" class=" history-heading">
            <div class="history-header">
                <h2>Subscription</h2>
            </div>
           
            <table class="table table-striped history-table">
                <thead *ngIf="!nofound">
                    <tr>
                        <th>Subscription Name</th>
                        <th>Price</th>
                        <th>Start Date</th>
                        <th>Expiry Date</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngIf="!nofound">
                        <td *ngIf="pkgList.duration == 'M' "> MONTHLY PLAN</td>
                        <td *ngIf="pkgList.duration == 'Q'">Quater PLAN</td>
                        <td *ngIf="pkgList.duration== 'S'"> SixMonths PLAN</td>
                        <td *ngIf="pkgList.duration == 'Y'"> Yearly PLAN</td>
                        <td><span>$</span>{{pkgList.pkg_price}} </td>
                        <td>{{record.pay_date | date:'MMM-dd-y'}}</td>
                        <td>{{record.end_date | date:'MMM-dd-y'}}</td>
                        <td *ngIf="record.is_paid == true"><button style="cursor:text" class="btn btn-success" title="Active">Active
                            </button></td>
                        <td *ngIf="record.is_paid == false"><button (click)=" prv_stepdetail( pkgList.pkg_type,pkgList.duration)"
                                title="Subscribe Package" class="btn btn-primary">Subscribe Now <i class="fa fa-thumbtack"></i></button></td>
                    </tr>
                    <tr *ngIf="nofound" style="text-align:center;font-size:24px">
                        <td colspan="4">
                            <h2><span class="no-pkg">Packages</span> you subscribe will appear here.</h2>
                        </td>
                    </tr>
                </tbody>



            </table>
            <button  data-target="#myModal5" data-toggle="modal">
                   
            </button>
           
        </div>
        <!--2nd step-->
        <div *ngIf="pkgsub" data-wow-delay=".5s">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 container">
                    <div class="dropdown mydropdown">
                        <select (change)="next_stepdetail($event)" class="btn btn-success record-btn-mail dropdown-toggle text-left"
                            data-toggle="dropdown" placeholder="Select Package">
                            <option value="" disabled selected>Select Package</option>
                            <option value="BM">Basic - Monthly</option>
                            <option value="PY">Professional - Yearly</option>
                        </select>
                    </div>
                    <div class="clearfix"></div>
                    <div class="package-detail">
                        <h2>PACKAGE DETAILS</h2>
                        <table class="table projects table-bordered table-responsive">
                            <tbody>
                                <tr>
                                    <td>Package Type</td>

                                    <td>{{pkg_detail['type']}}</td>
                                </tr>
                                <tr>
                                    <td>Duration</td>
                                    <td>{{pkg_detail['dur']}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
                    <div class="checkout">
                        <div [className]="flipclass">
                            <div class="flip">
                                <div class="front">
                                    <div class="chip"></div>
                                    <div class="logo">
                                        <svg version="1.1" id="visa" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                            x="0px" y="0px" width="47.834px" height="47.834px" viewBox="0 0 47.834 47.834"
                                            style="enable-background:new 0 0 47.834 47.834;">
                                            <g>
                                                <g>
                                                </g>
                                            </g>
                                        </svg>
                                    </div>
                                    <div class="number"> {{cardnumber1}} {{cardnumber2}} {{cardnumber3}}
                                        {{cardnumber4}}</div>
                                    <div class="card-holder">
                                        <label>Card holder</label>
                                        <div>{{cardholdername}}</div>
                                    </div>
                                    <div class="card-expiration-date">
                                        <label>Expires</label>
                                        <div>{{expmonth}}/{{expyear}}</div>
                                    </div>
                                </div>
                                <div class="back">
                                    <div class="strip"></div>
                                    <div class="logo">
                                        <svg version="1.1" id="visa" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                            x="0px" y="0px" width="47.834px" height="47.834px" viewBox="0 0 47.834 47.834"
                                            style="enable-background:new 0 0 47.834 47.834;">
                                            <g>
                                                <g>

                                                </g>
                                            </g>
                                        </svg>
                                    </div>
                                    <div class="ccv">
                                        <label>CCV</label>
                                        <div>{{ccv}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <form class="form" autocomplete="off" novalidate>
                            <fieldset>
                                <label for="card-number" style="font-size:20px;">Card Number</label>
                                <input type="num" id="card-number" class="input-cart-number" name="cardnumber1"
                                    [(ngModel)]="cardnumber1" [textMask]="{mask: mask}" />
                                <input type="num" id="card-number-1" class="input-cart-number" name="cardnumber2"
                                    [(ngModel)]="cardnumber2" [textMask]="{mask: mask}" />
                                <input type="num" id="card-number-2" class="input-cart-number" name="cardnumber3"
                                    [(ngModel)]="cardnumber3" [textMask]="{mask: mask}" />
                                <input type="num" id="card-number-3" class="input-cart-number" name="cardnumber4"
                                    [(ngModel)]="cardnumber4" [textMask]="{mask: mask}" />
                            </fieldset>
                            <fieldset>
                                <label for="card-holder" style="font-size:20px;">Card holder</label>
                                <input type="text" name="cardholdername" [(ngModel)]="cardholdername" id="card-holder" />
                            </fieldset>
                            <fieldset class="fieldset-expiration">
                                <label for="card-expiration-month" style="font-size:20px;">Expiration date</label>
                                <div class="select text-center">
                                    <select id="card-expiration-month" name="expmonth" [(ngModel)]="expmonth">
                                        <option value="" disabled selected>Month</option>
                                        <option>01</option>
                                        <option>02</option>
                                        <option>03</option>
                                        <option>04</option>
                                        <option>05</option>
                                        <option>06</option>
                                        <option>07</option>
                                        <option>08</option>
                                        <option>09</option>
                                        <option>10</option>
                                        <option>11</option>
                                        <option>12</option>
                                    </select>
                                </div>
                                <div class="select text-center">
                                    <select id="card-expiration-year" name="expyear" [(ngModel)]="expyear">
                                        <option value="" disabled selected>Year</option>
                                        <option>2016</option>
                                        <option>2017</option>
                                        <option>2018</option>
                                        <option>2019</option>
                                        <option>2020</option>
                                        <option>2021</option>
                                        <option>2022</option>
                                        <option>2023</option>
                                        <option>2024</option>
                                        <option>2025</option>
                                    </select>
                                </div>
                            </fieldset>
                            <fieldset class="fieldset-ccv">
                                <label for="card-ccv" style="font-size:20px;">CCV</label>
                                <input type="text" id="card-ccv" maxlength="3" name="ccv" (focusout)="flipagain()"
                                    (focus)="flip()" [(ngModel)]="ccv" />
                            </fieldset>
                            <button class="btn" (click)="proceed()" title="Submit">
                                <i class="fa fa-lock"></i> Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





<!-- ---------------------------- Template ---------------------------- -->

<div id="myModal5" class="modal fade" role="dialog">
        <div class="modal-dialog">
       
        <!-- Modal content-->
        <div class="modal-content">
                <div class="invoice overflow-auto">
                        <div style="min-width: 600px">
                            <header>
                                <div class="row">
                                    <div class="col">
                                        <a target="_blank" >
                                            <img src="../../assets/img/logo.png" alt="RFPGurus" />
                                            </a>
                                    </div>
                                    <div class="col company-details">
                                            <h2>HEADQUARTERS</h2>
                                            <h5 style="line-height: 30px;">5050 Quorum Drive,
                                              Dallas, TX 75254, USA</h5>
                                              <h5 class="phone-contact">
                                                    <i class="fa fa-envelope-o"></i>&nbsp;&nbsp;<span>Email: </span> contact@rfpgurus.com<br>
                                                    <i class="fa fa-phone"></i>&nbsp;&nbsp; <span>Voice: </span> +1 (888) 764-0100<br>
                                                    <i class="fa fa-fax"></i>&nbsp;&nbsp; <span>Fax: </span> +1 (469) 250-6600
                                                  </h5>
                                    </div>
                                </div>
                            </header>
                            <main>
                                <div class="row contacts">
                                    <div class="col invoice-to">
                                        <div class="text-gray-light">INVOICE TO:</div>
                                        <h2 class="to">John Doe</h2>
                                        <div class="address">796 Silver Harbour, TX 79273, US</div>
                                        <div class="email"><a href="mailto:john@example.com">john@example.com</a></div>
                                    </div>
                                    <div class="col invoice-details">
                                        <h1 class="invoice-id">INVOICE 3-2-1</h1>
                                        <div class="date">Date of Invoice: 01/10/2018</div>
                                        <div class="date">Due Date: 30/10/2018</div>
                                    </div>
                                </div>
                                <table border="0" cellspacing="0" cellpadding="0">
                                    <thead>
                                        <tr>
                                            <th>Subscription Name</th>
                                            <th>Price</th>
                                            <th>Start Date</th>
                                            <th>Expiry Date</th>
                                            <th>Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                            <tr *ngIf="!nofound">
                                                    <td *ngIf="pkgList.duration == 'M' "> MONTHLY PLAN</td>
                                                    <td *ngIf="pkgList.duration == 'Q'">Quater PLAN</td>
                                                    <td *ngIf="pkgList.duration== 'S'"> SixMonths PLAN</td>
                                                    <td *ngIf="pkgList.duration == 'Y'"> Yearly PLAN</td>
                                                    <td><span>$</span>{{pkgList.pkg_price}} </td>
                                                    <td>{{record.pay_date | date:'MMM-dd-y'}}</td>
                                                    <td>{{record.end_date | date:'MMM-dd-y'}}</td>
                                                    <td *ngIf="record.is_paid == true"><button style="cursor:text" class="btn btn-success" title="Active">Active
                                                        </button></td>
                                                    <td *ngIf="record.is_paid == false"><button (click)=" prv_stepdetail( pkgList.pkg_type,pkgList.duration)"
                                                            title="Subscribe Package" class="btn btn-primary">Subscribe Now <i class="fa fa-thumbtack"></i></button></td>
                                                </tr>
                                      
                                        
                                        
                                    </tbody>
                                   
                                </table>
                                <div class="thanks">Thank you!</div>
                                <div class="notices">
                                    <div>NOTICE:</div>
                                    <div class="notice">A finance charge of 1.5% will be made on unpaid balances after 30 days.</div>
                                </div>
                            </main>
                            <footer>
                                Invoice was created on a computer and is valid without the signature and seal.
                            </footer>
                        </div>
                        <!--DO NOT DELETE THIS div. IT is responsible for showing footer always at the bottom-->
                        <div></div>
                    </div>
        <div class="modal-footer">
        <div class="modal-buttons">
                <!-- <div>
                        <input type="button" value="CPTURE" (click)="captureScreen()" />
                    </div> -->
        <button type="button" class="btn btn-default" value="CPTURE" (click)="captureScreen()" data-dismiss="modal">Yes</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
        </div>
        </div>
        </div>
       
        </div>
       </div>
    