<!-- <section id="body" class="width">
    <aside id="sidebar sticky" class="column-left">

        <header>

            <div class="super-sidebar-profile-img">

                <a href="/superdashboard">
                    <img src="../../assets/img/logo.png" alt="RFPGurus" />
                
                </a>
            </div>

        </header>

        <nav id="mainnav">
            <ul class="super-sidebar-list">
                <li>
                    <a routerLink="/admin-penal">
                        Dashboard
                    </a>
                </li>
               
                <li>
                    <a (click)="logout()">
                        Logout
                    </a>
                </li>

             
            </ul>
        </nav>
    </aside>
</section> -->
<div style="height:200px;width:200px;background-color:black"></div>
<h1>hellow</h1>

<!---->
<!--<div class="logo">-->
<!--<div class="logo-normal">-->
<!--<a class="logo" routerLink="/">-->
<!--<img src="../../assets/img/logofinal.gif" alt="ChoiceGenie" style=" position: relative"/>-->
<!--&lt;!&ndash; <img src="../../assets/img/Choice_logo.png" alt="PlugEXP" /> &ndash;&gt;-->
<!--</a>-->

<!--</div>-->

<!--&lt;!&ndash; <div class="logo-img">-->
<!--<img src="../../assets/img/logofinal.gif"/>-->
<!--</div> &ndash;&gt;-->
<!--</div>-->


<!--<div class="sidebar-wrapper">-->


<!--<div class="user">-->
<!--<div class="photo">-->
<!--<img src="../assets/img/faces/avatar.jpg" />-->
<!--</div>-->
<!--<div class="info">-->
<!--<a data-toggle="collapse" href="#collapseExample" class="collapsed" aria-expanded="false">-->
<!--&lt;!&ndash; <span>-->
<!--Vandor Profile-->
<!--<b class="caret"></b>-->
<!--</span> &ndash;&gt;-->
<!--</a>-->
<!--<div class="clearfix"></div>-->
<!--&lt;!&ndash; <div class="collapse" id="collapseExample">-->
<!--<ul class="nav">-->
<!--<li>-->
<!--<a href="#">-->
<!--<span class="sidebar-mini-icon">MP</span>-->
<!--<span class="sidebar-normal">My Profile</span>-->
<!--</a>-->
<!--</li>-->
<!--<li>-->
<!--<a href="#">-->
<!--<span class="sidebar-mini-icon">EP</span>-->
<!--<span class="sidebar-normal">Edit Profile</span>-->
<!--</a>-->
<!--</li>-->
<!--<li>-->
<!--<a href="#">-->
<!--<span class="sidebar-mini-icon">S</span>-->
<!--<span class="sidebar-normal">  Settings</span>-->
<!--</a>-->
<!--</li>-->
<!--</ul>-->
<!--</div> &ndash;&gt;-->


<!--<ul class="nav">-->
<!--<li>-->

<!--&lt;!&ndash;-->
<!--<div class="photo">-->
<!--<img src="../assets/img/faces/avatar.jpg" />-->
<!--</div> &ndash;&gt;-->

<!--</li>-->
<!--<li>-->
<!--<a (click)="backClicked()">-->

<!--<span class="sidebar-normal"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Dashboard</span>-->
<!--</a>-->
<!--</li>-->

<!--<li>-->
<!--<a href="/superviewcontact">-->

<!--<span class="sidebar-normal"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Contact Details </span>-->
<!--</a>-->
<!--</li>-->
<!--<li>-->
<!--<a href="/sviewapartner">-->

<!--<span class="sidebar-normal"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;view Partner</span>-->
<!--</a>-->
<!--</li>-->
<!--<li>-->
<!--<a href="/SuperChangePassword">-->

<!--<span class="sidebar-normal"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Change Password </span>-->
<!--</a>-->
<!--</li>-->

<!--</ul>-->

<!--</div>-->






<!--</div>-->