<app-loader></app-loader>

<div class="main-panel" [ngClass]="status ? 'sidebarActive' : ''">
  <div class="main-content custom">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <div class="page-title">
            <div class="col-sm-6" style="margin:10px 0px">
              <span>Admin Penal</span>
            </div>
            <div class="col-sm-6" style="margin:10px 0px">
              <span *ngIf="item">No of Letest RFPs: <b> {{item | number}}</b></span>
            </div>
          </div>
          <div class="products-area sh-products-area">
            <div *ngFor="let rfp of record;let i=index" class="card pos-rel">
              <div class="row">
                <div class="col-sm-12">
                  <div class="card-header card-header-text" data-background-color="purple">
                    <a style="cursor:pointer" [routerLink]="['/rfp/', rfp.seoTitleUrl]">
                      <h4 class="card-title">{{rfp.rfpkey}}</h4>
                    </a>
                  </div>
                </div>
                <button class="fa btn sh fa-edit edit-del-btn" type="submit" value="Edit" type="submit" (click)="btnEditClick(rfp.id,rfp.rfpkey,rfp.rfp_number,rfp.title,rfp.descriptionTag,rfp.state,rfp.agency,rfp.date_entered,rfp.due_date,rfp.web_info,rfp.rfp_reference)"
                  data-toggle="modal" data-target="#myModal2"><span style="font-size: 18px;">
                    Edit </span>
                </button>
                <div class="card-content">
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 plan-detail">
                    <h3>
                      <a style="cursor:pointer" [routerLink]="['/rfp/', rfp.seoTitleUrl]"> {{rfp.title}}</a>
                    </h3>
                    <h5 *ngIf="rfp?.agency">
                      <i class="far fa-building"></i>Agency : <span>{{rfp?.agency}}</span></h5>
                    <h5>
                      <i class="fas fa-university"></i>Category :
                      <span>{{rfp.category}}</span>
                    </h5>
                    <h5 *ngIf="rfp.state">
                      <i class="fab fa-fort-awesome"></i>State :
                      <span>{{rfp.state}}</span>
                    </h5>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 term top-margin-25">
                    <!--<h4>Detail:</h4>-->
                    <div class="table">
                      <table class="table-normal">
                        <thead>
                          <tr>
                            <td>
                              <i class="glyphicon glyphicon-calendar"></i> Posted Date</td>
                            <td>
                              <i class="glyphicon glyphicon-calendar"></i> Submission Deadline</td>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td *ngIf="check(rfp.date_entered) == true">{{rfp.date_entered | date:'EEEE, MMM dd, y'}}</td>
                            <td *ngIf="check(rfp.date_entered) == false"></td>
                            <td *ngIf="check(rfp.due_date) == true">{{rfp.due_date | date:'EEEE, MMM dd, y'}}</td>
                            <td *ngIf="check(rfp.due_date) == false"></td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <div class="col-md-6">
                      <ul class="list-normal">


                        <li>
                          <a href="{{rfp.web_info}}" target="_blank">
                            <i class="material-icons">insert_drive_file</i>
                            View Documents
                          </a>
                        </li>
                        <!-- <ng-template #link>
                            <li>
                              <a href="{{rfp.web_info}}" target="_blank">
                                <i class="material-icons">insert_drive_file</i>
                                View Documents
                              </a>
                            </li>
                          </ng-template> -->

                      </ul>
                    </div>

                  </div>
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <h5 class="view-more collapsed" data-toggle="collapse" attr.data-target="#View{{rfp.id}}">
                      Description
                      <i class="material-icons">arrow_drop_down</i>
                    </h5>
                    <div attr.id="View{{rfp.id}}" class="panel-details collapse">
                      <div class="col-md-12" *ngIf="rfp?.descriptionTag == null">
                        <div [innerHTML]="rfp.deescription"></div>
                      </div>
                      <div class="col-md-12" *ngIf="rfp?.descriptionTag != null">
                        <div [innerHTML]="rfp?.descriptionTag"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 sh-pg-container">

        <div class="col-lg-9 col-md-9 col-sm-6 col-xs-12 text-right">
          <ul class="pagination" *ngIf="pager.pages && pager.pages.length">
            <li [ngClass]="{hide:pager.currentPage === 1}">
              <a (click)="setPage(pager.currentPage - 1)" class="view-1s" class="btn btn-fill">
                <i class="fas fa-angle-left"></i>
              </a>
            </li>
            <li [ngClass]="{hide:pager.currentPage <= 30}">
              <a (click)="setPage(pager.currentPage - 30)">...</a>
            </li>
            <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
              <a (click)="setPage(page)" class="view-plan-details">{{page | number}}</a>
            </li>
            <li [ngClass]="{hide:pager.currentPage === pager.totalPages}" *ngIf="(pager.startPage  + 3) <= pager.totalPages">
              <a (click)="setPage(pager.currentPage + 3)">...</a>
            </li>
            <li [ngClass]="{hide:pager.currentPage === pager.totalPages}"> <a>Of</a></li>
            <li [ngClass]="{hide:pager.currentPage === pager.totalPages}">
              <a (click)="setPage(pager.totalPages)" class="view-plan-details" type="Last">{{pager.totalPages |
                number}}</a>
            </li>
            <li *ngIf="pager.currentPage === pager.totalPages"> <a>Of</a></li>
            <li *ngIf="pager.currentPage === pager.totalPages">
              <a (click)="setPage(pager.totalPages)" class="view-plan-details" type="Last">{{pager.totalPages |
                number}}</a>
            </li>
            <li [ngClass]="{hide:pager.currentPage === pager.totalPages}">
              <a (click)="setPage(pager.currentPage + 1)" class="view-plan-details" class="btn bd-color" type="Next">
                <i class="fas fa-angle-right top-set"></i>
              </a>
            </li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-5 col-xs-12 prod-select-list sec-list sh-select-list" *ngIf="pager.pages && pager.pages.length">
          <label class="product-label">Items per page:
          </label>
          <mat-form-field>
            <mat-select class="width-sec" placeholder="" selected="10" (change)="page(pageSize)" value="pageSize"
              required [(ngModel)]="pageSize" name="pageSize">
              <mat-option value="10" selected="true">10</mat-option>
              <mat-option value="20">20 </mat-option>
              <mat-option value="35">35</mat-option>
              <mat-option value="50">50</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade " id="myModal2" role="dialog">
  <div class="modal-dialog admin-popup">
    <!-- Modal content-->
    <div class="modal-content popupmodel">
      <div class="modal-body" >
          <div class="popup-close-button" data-dismiss="modal">X</div>
        <div class="row">
          <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 " style="border-bottom: 1px #4f4f4f solid;">
            <p class=" modal-v2__main-heading"> {{title}}</p>

          </div>

          <form class="sh-signup-form-fix">

            <div class="col-md-6 col-sm-6">
              <div class="input-group">
                <mat-form-field>
                  <input matInput placeholder="Title" name="title" value="{{title}}" required #updatedtitle />

                </mat-form-field>
              </div>
            </div>
            <div class="col-md-6 col-sm-6">
              <div class="input-group" hidden=true>

                <mat-form-field>
                  <input matInput placeholder="RFP Number" readonly name="rfp_number" value="{{rfp_number}}"
                    #updatedrfp_number />

                </mat-form-field>
              </div>
            </div>
            <div class="col-md-6 col-sm-6">
              <div class="input-group">

                <mat-form-field>
                  <input matInput placeholder="RFP Key" name="rfpkey" value="{{rfpkey}}" #uprfpkey />

                </mat-form-field>
              </div>
            </div>
            
            <div class="col-md-6 col-sm-6">
              <div class="input-group">
                <mat-form-field>
                  <input matInput placeholder="State" name="states" value="{{states}}" #updatedstates />

                </mat-form-field>
              </div>
            </div>
            <div class="col-md-6 col-sm-6">
              <div class="input-group">

                <mat-form-field>
                  <input matInput placeholder="Agency" name="agency" value="{{agency}}" #updatedagency />

                </mat-form-field>
              </div>
            </div>

            <div class="col-md-6 col-sm-6">
              <div class="input-group margin-zero1">

                <mat-form-field>
                  <input matInput placeholder="Posted Date" name="date_entered" value="{{date_entered}}"
                    #updateddate_entered />

                </mat-form-field>
              </div>
            </div>
            <div class="col-md-6 col-sm-6">
              <div class="input-group margin-zero1">

                <mat-form-field>
                  <input matInput placeholder="Submission Date" name="due_date" value="{{due_date}}" #updateddue_date />

                </mat-form-field>
              </div>
            </div>

            <div class="col-md-6 col-sm-6">
              <div class="input-group margin-zero1">
                  <input id="img" type='file' (change)="onChange($event)" name="web_info"  #web_info >
                
                <!-- <mat-form-field>

                  <input matInput placeholder="Web Information PDF" name="web_info" value="{{web_info}}"
                    #updatedweb_info />

                </mat-form-field> -->
              </div>
            </div>
            <div class="col-md-6 col-sm-6">
              <div class="input-group margin-zero1" hidden=true>

                <mat-form-field>
                  <input matInput placeholder="rfp_reference" readonly name="rfp_reference" value="{{rfp_reference}}"
                    #updatedrfp_reference />

                </mat-form-field>
              </div>
            </div>
            <div class="col-md-12 col-sm-12">
                <div class="input-group">
                  <ckeditor [(ngModel)]="descriptionTag" name="descriptionTag"> {{descriptionTag}}
                    <ckbutton [name]="'saveButton'" [command]="'saveCmd'"  [icon]="'save.png'"
                      [label]="'Save Document'" [toolbar]="'clipboard,1'">
                    </ckbutton></ckeditor>
  
                </div>
              </div>
            <div class="col-md-12 col-sm-12">

              <div class=" text-center" style="margin-top: -21px;">
                <button type="submit" class="btn btn-fill" (click)="editClick(updatedtitle.value,updatedrfp_number.value,uprfpkey.value,descriptionTag,updatedstates.value,updatedagency.value,updateddate_entered.value,updateddue_date.value,updatedrfp_reference.value)"
                  data-dismiss="modal">Update</button>

                <button type="button" class="btn btn-fill" data-dismiss="modal">Cancel</button>

              </div>
            </div>


          </form>
        </div>
      </div>

    </div>
  </div>
</div>